bodyf
{

}
h1 {
  text-align: Center;
  color:#ffffff;
  font-size:28pt;
  margin-top: 0px
}

nav {
	text-align: Center;
	font-size:15pt;
	
}
a {
	text-decoration: none;
	padding-left: 20px;
}

a:hover {
	color :#00ABFF;
	
}
h2 {
	color:#ffffff;
	font-size:22pt;
	float: left
}
um{
	color:#ffffff;
}
h2:hover{
	text-decoration: underline white;
}
.game{
	  margin-top: 10000px
}
.play{
	color:#00ffff;
	font-size:50pt;
	margin-top: 100px
}
.full{
	font-size:20pt;
}
h6 {
	color:#ffffff;
	text-decoration: underline white;
	font-size: 30pt;
	text-align: left;
	margin-top: 60px
}
.f4strg {
	float: left
}